ul{
    display: flex;
    padding: 20px;
    margin: 0px;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    background-color:palevioletred;
    color: aliceblue;
    padding: 0px;
    border-radius: 20px;

}
li{
    cursor: pointer;
    padding: 25px;
}
li:hover{
    color: black;
    background-color: aquamarine;
    border-radius: 15px;
}